---
const today = new Date();
---

<footer class='container mt-8'>
	<div class='py-4 border-t dark:border-t-zinc-700'>
    <div class="md:flex text-sm text-zinc-500 dark:text-zinc-300 prose dark:prose-invert justify-between">
      <div>Copyright © {today.getFullYear()} Dev-Dhanushkumar</div>
      <div>Portfolio created by <a href="https://github.com/dev-dhanushkumar/dev-dhanushkumar.github.io.git" target="_blank" rel="nofollow noopener">Dhanush Kumar</a></div>
    </div>
	</div>
</footer>
