---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p>I'm a passionate software developer from India, specializing in efficient and high-performance software development 
			from scratch. I enjoy researching, building scalable APIs and web servers, and sharing my knowledge on <a href="https://dev.to/dev-dhanushkumar" target="_blank">dev.to</a>  and 
			<a href="https://stackoverflow.com/users/23688025/dev-dhanushkumar" target="_blank">stack overflow</a>. 
		  </p>
	</div>
</div>


